:root {
    --azul-mar: #08416D;
    --azul-jeans: #0D5589;
    --azul-eclesiastico: #42607B;
    --cinzao: #B9BBBE;
}

*{
     margin: 0%;
     padding: 0%;
}

.cabecalho{
    background-color: var(--azul-jeans);
    display: flex;
    justify-content: space-between;
}
.menu-item{
    display: inline-block;
   padding: 7px;
   margin-top: 26px;
   color: black;
   font-size: 18px;
}


.logo{
    width: 15%;
    margin: 10px;
}


.principal{
 background-color: var(--azul-eclesiastico);
 color: var(--cinzao);
}