:root {
    --azul-mar: #08416D;
    --azul-jeans: #0D5589;
    --azul-eclesiástico: #42607B;
    --cinzão: #B9BBBE;
}

.cabecalho{
    background-color: var(--azul-jeans);
    display: flex;
    justify-content: space-between;
}
.menu-item{
    display: inline-block;
   padding: 7px;
   margin-top: 26px;
   color: black;
   font-size: 18px;
}


.logo{
    width: 15%;
    margin: 10px;
}